
<section>
  <header style="text-align:center;">
    <h1> IELTS FlashCards</h1>
    <p class="description">Learn Words.....Have fun</p>
  </header>
  <div *ngIf="wordlist1">
    <!-- *ngFor="let word of wordList1"-->
  <fc-word *ngFor="# word of wordlist1"
   [wordItem]="word"></fc-word>
   </div>
   <div *ngIf="wordlist2">
    <!-- *ngFor="let word of wordList1"-->
  <fc-word *ngFor="# word of wordlist2"
   [wordItem]="word"></fc-word>
   </div>
   <div *ngIf="wordlist3">
    <!-- *ngFor="let word of wordList1"-->
  <fc-word *ngFor="# word of wordlist3"
   [wordItem]="word"></fc-word>
   </div>
      <div *ngIf="wordlist4">
    <!-- *ngFor="let word of wordList1"-->
  <fc-word *ngFor="# word of wordlist4"
   [wordItem]="word"></fc-word>
   </div>
      <div *ngIf="wordlist5">
    <!-- *ngFor="let word of wordList1"-->
  <fc-word *ngFor="# word of wordlist5"
   [wordItem]="word"></fc-word>
   </div>
      <div *ngIf="wordlist6">
    <!-- *ngFor="let word of wordList1"-->
  <fc-word *ngFor="# word of wordlist6"
   [wordItem]="word"></fc-word>
   </div>
      <div *ngIf="wordlist7">
    <!-- *ngFor="let word of wordList7"-->
  <fc-word *ngFor="# word of wordlist7"
   [wordItem]="word"></fc-word>
   </div>
      <div *ngIf="wordlist8">
    <!-- *ngFor="let word of wordList1"-->
  <fc-word *ngFor="# word of wordlist8"
   [wordItem]="word"></fc-word>
   </div>
      <div *ngIf="wordlist9">
    <!-- *ngFor="let word of wordList1"-->
  <fc-word *ngFor="# word of wordlist9"
   [wordItem]="word"></fc-word>
   </div>
      <div *ngIf="wordlist10">
    <!-- *ngFor="let word of wordList1"-->
  <fc-word *ngFor="# word of wordlist10"
   [wordItem]="word"></fc-word>
   </div>
</section>



